
.background {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/fondo.png);
    background-size: cover;  
    z-index: -1;
}